@page
@using RazorEventMaker23Class.Interfaces; 
@inject IEventRepository repository;
@inject IUserService userRepo;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Numbers of events @repository.GetAllEvents().Count </h2>
    <h2>Numbers of users @userRepo.GetAllUsers().Count </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
